<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="Pay My Buddy - Effectuez vos virements en toute simplicité" />
  <title>Pay My Buddy - Virements</title>
  <link rel="stylesheet" th:href="@{/style.css}">
</head>

<body>
  <div class="header">
    <span> Pay My Buddy</span>
    <nav>
      <a href="/transaction" sec:authorize="isAuthenticated()" class="active">Virements</a>
      <a href="/profil" sec:authorize="isAuthenticated()">Profil</a>
      <a href="/friends" sec:authorize="isAuthenticated()">Relations</a>
      <a href="/login?logout" sec:authorize="isAuthenticated()">Se déconnecter</a>
    </nav>
  </div>

  <div class="container">

    <div th:if="${error}" class="alert alert-danger" role="alert">
      <p th:text="${error}"></p>
      <button type="button" class="close-btn" onclick="this.parentElement.style.display='none'">×</button>
    </div>
    <div th:if="${success}" class="alert alert-success" role="alert">
      <p th:text="${success}"></p>
      <button type="button" class="close-btn" onclick="this.parentElement.style.display='none'">×</button>
    </div>

    <h2>Ajouter des fonds</h2>
    <div class="form-section">
      <form th:action="@{/transaction/deposit}" method="post" th:object="${balanceResponse}">
        <select name="compte" required>
          <option selected>Pay My Buddy</option>
        </select>
        <input type="number" name="count" step="0.01" placeholder="Montant 0€" th:field="*{amount}" required />
        <button type="submit">Ajouter</button>
      </form>
      <input type="text" name="" id="" th:placeholder="|Fonds disponible : ${userBalance}|" readonly />
    </div>

    <h2>Virements</h2>
    <div class="form-section">
      <form th:action="@{/transaction/pay}" method="post" th:object="${transactionResponse}">
        <select th:field="*{email}" required>
          <option value="" selected>Choix du destinataire</option>
          <option th:each="friend : ${friendsList}" th:value="${friend.email}" th:text="${friend.email}"></option>
        </select>
        <input type="text" name="description" maxlength="25" minlength="5" placeholder="Description"
          th:field="*{description}" required />
        <input type="number" name="amount" step="0.01" th:placeholder="${funds}" th:field="*{amount}" required />
        <button type="submit">Payer</button>
      </form>
    </div>

    <table>
      <thead>
        <tr>
          <th>Émetteur</th>
          <th>Destinataire</th>
          <th>Description</th>
          <th>Montant</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="transaction : ${transactionsList}">
          <td th:text="${transaction.senderUsername}"></td>
          <td th:text="${transaction.receiverUsername}"></td>
          <td th:text="${transaction.description}"></td>
          <td th:text="${transaction.amount}"></td>
          <td th:text="${#temporals.format(transaction.createdAt, 'HH:mm dd/MM/yy')}"></td>
        </tr>
      </tbody>
    </table>
  </div>
</body>

</html>