<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Pay My Buddy - Virements</title>
  <link rel="stylesheet" th:href="@{/style.css}">
</head>

<body>
  <div class="header">
    <span> Pay My Buddy</span>
    <nav>
      <a href="/transaction" sec:authorize="isAuthenticated()" class="active">Virements</a>
      <a href="/profil" sec:authorize="isAuthenticated()">Profil</a>
      <a href="/friends" sec:authorize="isAuthenticated()">Relations</a>
      <a href="/login?logout" sec:authorize="isAuthenticated()">Se déconnecter</a>
    </nav>
  </div>

  <div class="container">
    <h2>Ajouter des fonds</h2>
    <h3 th:if="${param.ferror}" style="color: rgb(239, 6, 6)">Fonds negatif</h3>
    <h3 th:if="${param.fsucess}" style="color: rgb(10, 232, 40)">Fonds effectués</h3>
    <div class="form-section">
      <form th:action="@{/transaction/deposit}" method="get">
        <select name="compte" required>
          <option selected>Pay My Buddy</option>
        </select>
        <input type="number" name="count" step="0.01" placeholder="Montant 0€" required />
        <button type="submit">Ajouter</button>
      </form>
    </div>

    <h2>Virements</h2>
    <h3 th:if="${param.verror}" style="color: rgb(239, 6, 6)">Balance insuffisante</h3>
    <h3 th:if="${param.vsucess}" style="color: rgb(10, 232, 40)">Virements effectués</h3>
    <div class="form-section">
      <form th:action="@{/transaction/pay}" method="get">
        <select name="receiverEmail" required>
          <option value="" disabled selected>Choix du destinataire</option>
          <option th:each="friend : ${friends}" th:text="${friend.email}"></option>
        </select>
        <input type="text" name="description" maxlength="25" minlength="5" placeholder="Description" required />
        <input type="number" name="amount" step="0.01" placeholder="Montant 0€" th:placeholder=${balance} required />
        <button type="submit">Envoyer</button>
      </form>
    </div>

    <table>
      <thead>
        <tr>
          <th>Emetteur</th>
          <th>Récepteur</th>
          <th>Description</th>
          <th>Montant</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="transaction : ${transactions}">
          <td th:text="${transaction.senderUsername}"></td>
          <td th:text="${transaction.receiverUsername}"></td>
          <td th:text="${transaction.description}"></td>
          <td th:text="${transaction.amount}"></td>
          <td th:text="${transaction.createdAt}"></td>
        </tr>
      </tbody>
    </table>
  </div>
</body>

</html>